LaTeX_file/Jun_Math_Sched.aux
LaTeX_file/Jun_Math_Sched.fdb_latexmk
LaTeX_file/Jun_Math_Sched.fls
LaTeX_file/Jun_Math_Sched.log
LaTeX_file/Jun_Math_Sched.out
LaTeX_file/Jun_Math_Sched.ent
LaTeX_file/Jun_Math_Sched.synctex.gz
LaTeX_file/Supplement.pdf
.DS_Store
LaTeX_file/Jun_Math_Sched 2.synctex(busy)
LaTeX_file/Jun_Math_Sched.pdf
LaTeX_file/Paper_Topics.aux
LaTeX_file/Paper_Topics.fdb_latexmk
LaTeX_file/Paper_Topics.fls
LaTeX_file/Paper_Topics.log
LaTeX_file/Paper_Topics.pdf
LaTeX_file/Paper_Topics.synctex.gz
*.swp
