LaTeX_file/Jun_Math_Sched.aux
LaTeX_file/Jun_Math_Sched.fdb_latexmk
LaTeX_file/Jun_Math_Sched.fls
LaTeX_file/Jun_Math_Sched.log
LaTeX_file/Jun_Math_Sched.out
LaTeX_file/Jun_Math_Sched.pdf
LaTeX_file/Jun_Math_Sched.synctex.gz
LaTeX_file/Supplement.pdf
